@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;    
    color: $green;
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15px 0;
    &__nav {       
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        gap: 4.8rem;
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-weight: 500;
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__cart {
        display: block;
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../img/Icons/cart-black.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.6rem 1.4rem;
        position: relative;
        border: 1px solid $orange;
        &:hover {
            background-color: $green;
            border: 1px solid $green;
        }
    }
    &__counter {
        font-size: .8rem;
        color: #fff;
        position: absolute;
        right: .8rem;
        top: .4rem;
    }    
}

.logo {
    display: block;
    background-image: url(../img/logo/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12.2rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.main {
    background-image: url(../img/Files/background\ 1\ screen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 187px;
    z-index: 0;
    &__item {
        max-width: 378px;
        margin-left: 12rem;
        margin-top: 6rem;
    }
    &__link {
        margin-top: 6rem;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;     
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        width: 92%;
        box-shadow: 18px 27px 47px -25px $green;
        border-radius: 100%;
    }
    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;        
        color: $green;
        text-align: left;
        position: absolute;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';            
            position: absolute;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px #fff, 0 0 0 5px $green;
            background-color: $green;
            border-radius: 100%;
        }
        &_1 {
            top: 48px;
            left: 65px;
            &::before {
                bottom: 10px;
                left: 84px;
            }
        }
        &_2 {
            top: 196px;
            right: 5px;
            &::before {
                top: 17px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -47px;
            right: 246px;
            &::before {
                bottom: 55px;
                right: 31px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        margin-bottom: 6px;
    }
    &__tomato {
        width: 11rem;
        position: absolute;
        bottom: 128px;
        right: 104px;
        z-index: -1;
    }
    &__avocado {
        width: 14.5rem;
        position: absolute;
        top: 55px;
        right: 25px;
        z-index: -1;
    }
    &__cucumber {
        width: 9rem;
        position: absolute;
        top: -2px;
        left: 686px;
        z-index: -1;
    }
    &__pepper {
        width: 9rem;
        position: absolute;
        bottom: 621px;
        left: 28px;
        z-index: -1;
    }
    &__beans {
        width: 11.8rem;
        position: absolute;
        bottom: 170px;
        left: -6px;
        z-index: -1;
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    line-height: 1.5;
    &_size-s {
        font-size: 1.8rem;
    }
    &_size-m {
        font-size: 2.4rem;
    }
}

.link {
    color: #fff;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    letter-spacing: 0.13rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    &_min {
        font-size: 1.4rem;
        padding: 2.2rem 3.5rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, .15);
    }
}

.offer {
    background-image: url(../img/Files/background\ 2\ sreen.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 2rem;
    padding-bottom: 200px;
    &__text {
        margin-top: 6rem;
        max-width: 700px;
    }    
}
.slider {
    overflow: hidden;
    padding-top: 9.4rem;
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative; 
        z-index: 0;
        &_white {            
            height: 520px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 4rem 3.7rem;
            &:hover {
                .swiper-slide__hover {
                    height: 233px;
                    opacity: 1;
                }
                &::after {
                    content: '';
                    background-color: rgba(#fff, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }    
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }        
        &_milk {
            background-image: url(../img/Files/bottle-of-milk-isolated-on-white-background-P59345R.png);
        }
        &_pasta {
            background-image: url(../img/Files/coils-of-dried-italian-pasta-or-noodles-on-white-QFT6G6P.png);
            background-repeat: no-repeat;
        }
        &_steaks {
            background-image: url(../img/Files/steaks-raw-P8WR9SE.png);
            background-repeat: no-repeat;
        }
        &__img {
            height: 100%;
            width: 100%;
            max-width: 351px;
            object-fit: contain;
        }
        &__title {
            font-size: 3rem;
            font-family: $font-cormorant;
            font-weight: 700;
            margin: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__text {
            margin: 0;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
            line-height: 1.5;
            color: rgba($green, .7);
        }
        &__description {
            font-size: 1.8rem;
            margin-top: 2rem;
            margin-bottom: 0;
            max-width: 300px;
            min-height: 55px;
            color: rgba($green, .7);            
            line-height: 1.5;
        }
        &__link {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba($green, .8);
            font-weight: 500;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2.1rem;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: "";
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/Icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
        }        
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3.9rem;
        }
    }
    &-pagination {
        display: none;
    }
    &-button-next, &-button-prev {
        top: -6rem; 
        right: -8px;
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            color: rgba($green, .4);
            font-size: 1.8rem;
        }
    }
    &-button-prev {
        left: initial;
        right: 73px;
    }
}

.price {
    font-size: 2.4rem;
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0%;
        background-position: center center;
        border-radius: 100%;
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../img/Icons/minus.svg);
        background-size: 52px 52px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        background-image: url(../img/Icons/plus.svg);
        background-size: 52px 52px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 4.6rem;
        border: none;
        padding: 0;
        &_min {
            width: 33px;
        }
    }
}

.about {
    padding-bottom: 200px;
    &__text {
        flex-basis: 617px;
        margin-left: 12rem;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        margin-top: 8.1rem;
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8.7rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: $font-cormorant;
        font-style: italic;
        &::before {
            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            width: 8.5rem;
            height: 8.5rem;            
            background-position: center center;            
            background-repeat: no-repeat;
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../img/Icons/fruits.svg);
                background-size: 43px 41px;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../img/Icons/traditional.svg);
                background-size: 39px 39px;
            }            
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../img/Icons/good.svg);
                background-size: 45px 39px;
            }            
        }
    }
}

.trends {
    padding-bottom: 20rem;
    &__text {
        margin-top: 6rem;
    }
}

.catalog {
    padding-bottom: 15.4rem;
    &__text {
        margin-top: 6rem;
    }
    &__filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;        
        padding: 0;
        margin: 0;
        margin-top: 9.1rem;
        list-style-type: none;
        gap: 2rem;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $green;
        border-radius: 3.5rem;
        width: 23rem;
        height: 7rem;
        text-decoration: none;
        color: $green;
        opacity: .5;
        &:hover {
            color: $orange;
            border: 1px solid $orange;
            opacity: 1;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        margin-top: 4.9rem;
        margin-bottom: 6rem;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border: 1px solid rgba($green, .4);
            border-radius: 2rem;
            padding: 3rem 2rem;
            box-sizing: border-box;
            height: 52rem;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative; 
            z-index: 0;
            &:hover {
                box-shadow: 0 0 0 2px rgba($green, .4) inset;
            }        
        }
        &__title {
            font-size: 3rem;
            font-family: $font-cormorant;
            font-weight: 700;
            margin: 0;
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__description {
            margin: 0;
            margin-top: 2rem;
            max-width: 250px;
            line-height: 1.5;
            color: rgba($green, .8);
        }
        &__link {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba($green, .8);
            font-weight: 500;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2.1rem;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: "";
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/Icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        &__img {
            height: 239px;
            width: 100%;
            max-width: 228px;
            object-fit: contain;
            object-position: top;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.8rem;
        }
        .counter {
            &__input {
                width: 3.3rem;
            }
            &__btn {
                width: 40px;
                height: 40px;
            }
        } 
    }
    &__load {
        text-decoration: none;
        text-transform: uppercase;
        color: $green;
        opacity: .8;
        font-weight: 500;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.1rem;
        border: none;
        background-color: transparent;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
        &::before {
            content: "";
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url(../img/Icons/refresh.svg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .8;
        }
    }
}

.delivery {
    &__box {
        display: flex;
        justify-content: space-between;
        margin: 0 12rem;
        margin-top: 7.5rem;
    }
    &__text {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.7rem;
        flex-basis: 56.7rem;
    }
    &__description {
        line-height: 1.5;
        margin: 0;
    }
    &__link {
        color: $green;
    }
    &__pay {
        flex-basis: 47.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__color {
        color: $orange;
    }
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 3rem;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .4;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    &__mastercard {
        background-image: url(../img/Icons/mastercard.svg);
        width: 5.3rem;
        height: 3.2rem;
    }
    &__visa {
        background-image: url(../img/Icons/visa.svg);
        width: 7.6rem;
        height: 2.3rem;
    }
    &__paypal {
        background-image: url(../img/Icons/paypal.svg);
        width: 8.7rem;
        height: 2.4rem;
    }
    
}

.contact {
    padding-top: 20rem;
    padding-bottom: 10rem;
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__text {
            margin: 0;
            margin-top: 6rem;
            margin-left: 12rem;
            max-width: 400px;
            flex-grow: 1;
        }
        &__form {
            flex-basis: 58.9rem;
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 6rem;
        }
        &__link {
            text-decoration: none;
            font-weight: 700;
            font-size: 2.4rem;
            color: $green;
            
        }
        &__tel {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3.1rem;
            &::before {
                content: '';
                display: block;
                background-image: url(../img/Icons/phone.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 2.9rem;
                height: 2.7rem;
                fill: $orange;
            }
            &:hover {
                color: $orange;
            }
        }
        &__mail {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3.1rem;
            &::before {
                content: '';
                display: block;
                background-image: url(../img/Icons/mail.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 2.9rem;
                height: 2.4rem;
                fill: $orange;
            }
            &:hover {
                color: $orange;
            }
        }
    }
}

.card {
    border: 2px solid rgba($green, .4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        margin-top: 0;
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        display: block;
        border: 1px solid rgba($green, .4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
    }
    &__link {
        margin-top: 1.2rem;
        cursor: pointer;
    }
    &__docs {
        text-decoration: none;
        color: rgba($green, .6);
        border-bottom: 1px solid #ecedec;
        &:hover {
            color: rgba($green, 1);
        }
    }
}