@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: #d26a22;
$dark-orange: #cf5c0d;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

$r_minmob: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_full_1750: 1750px;

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 0px 0px rgba($green, .5);
    }

    50% {
        box-shadow: 20px 20px 33px 0px rgba($green, .5);
    }

    100% {
        box-shadow: 0px 0px 0px 0px rgba($green, .5);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes shift {
    0% {
        transform: translate(0, -2px);
    }

    50% {
        transform: translate(0, 2px);
    }

    100% {
        transform: translate(0, -2px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    font-size: 10px;
    @media (max-width: $r_mob_500) {
        font-size: 8px;
    }
}

body {
    font-size: 1.6rem;
    font-family: $font-jost;    
    color: $green;
    background-image: url(../img/Files/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    max-width: 1440px;
    margin: 0 auto 6rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 15px 0;
    gap: 5%;
    @media (max-width: $r_desk_1350) {
        gap: 4%;
    }
    @media (max-width: $r_desk_1280) {
        gap: 3%;
    }
    @media (max-width: $r_desk_hd) {
        margin-bottom: 4rem;
    }
    &__navigation {
        flex-grow: 1;
        margin-left: 4.5rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 0;
        }
        @media (max-width: $r_desk_hd) {
            flex-grow: 0;
        }
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__nav {       
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        gap: 4.8rem;
        @media (max-width: $r_desk_hd) {
            gap: 2.8rem;
        }
    }
    &__link {
        color: $green;
        text-decoration: none;
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-weight: 500;
        color: $green;
        text-decoration: none;
        flex-basis: 200px;
        letter-spacing: .13rem;
        text-align: right;
        &:hover {
            color: $orange;
        }
        @media (max-width: $r_desk_hd) {
            display: none;
        }
    }
    &__cart {
        display: block;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
        background-color: $orange;
        background-image: url(../img/Icons/cart-black.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1.9rem;
        position: relative;
        border: 1px solid $orange;
        cursor: pointer;
        @media (max-width: $r_desk_hd) {
            background-image: url('../img/Icons/cart-green.svg');
            background-color: #fff;
            border: 1px solid $green;
            opacity: .8;
        }
        &:hover {
            background-color: $green;
            border: 1px solid $green;
            @media (max-width: $r_desk_hd) {
                background-color: #fff;
                opacity: 1;
            }
        }        
    }
    &__counter {
        font-size: .8rem;
        color: #fff;
        position: absolute;
        right: .9rem;
        top: .4rem;
        @media (max-width: $r_desk_hd) {
            color: $green;
        }
        @media (max-width: $r_mob_500) {
            right: .7rem;
            top: .6rem;
            font-size: 1rem;
        }
    }
    &__phone, &__menu {
        display: none;
    }
    &__phone {
        @media (max-width: $r_desk_hd) {
            display: block;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 100%;
            background-color: #fff;
            background-image: url(../img/Icons/tel.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.9rem;
            position: relative;
            border: 1px solid $green;
        }
    }
    &__menu {
        @media (max-width: $r_tab_900) {
            display: block;
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 100%;
            background-color: #fff;
            background-image: url(../img/Icons/menu.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.9rem;
            position: relative;
            border: 1px solid $green;
            cursor: pointer;
        }
    }
    &__buttons {
        @media (max-width: $r_desk_hd) {
            display: flex;
            align-items: center;
            gap: 1.5rem;
            @media (max-width: $r_mob_500) {
                gap: 1.4rem;
            }
        }
    }
}

.logo {
    display: block;
    background-image: url(../img/logo/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 12.2rem;
    height: 3.2rem;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    @media(max-width: $r_tab) {
        max-width: 600px;
    }
    @media (max-width: $r_mob_400) {
        max-width: 320px;
    }
}

.main {    
    position: relative;
    padding-bottom: 18.7rem;
    z-index: 0;
    overflow: hidden;
    @media (max-width: $r_desk_1120) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }
    @media (max-width: $r_mob_400) {
        padding-bottom: 5rem;
    }
    &__item {
        max-width: 378px;
        margin-left: 12rem;
        margin-top: 6rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 100%;
            margin-left: 0;
            margin-top: 3rem;
        }
    }
    &__link {
        margin-top: 6rem;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: $r_desk_1120) {
            padding-top: 3rem;
            padding-bottom: 9rem;
        }
        @media (max-width: $r_mob_400) {
            padding-bottom: 0;
        }
    }
    &__text {
        padding-top: 4rem;
        @media (max-width: $r_desk_1120) {
            flex-basis: 395px;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            padding-top: 0;
        }
    }
    &__cover {
        flex-basis: 763px;
        height: 763px;     
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        @media (max-width: $r_desk_1350) {
            flex-basis: 650px;
            height: 650px;
        }
        @media (max-width: $r_desk_hd) {
            flex-basis: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_1120) {
            border: 1px solid transparent;
            height: auto;
            flex-basis: calc(100% - 395px);
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
    &__line {
        width: 658px;
        height: 658px;
        border: 1px solid rgba($green, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_desk_1350) {
            width: 600px;
            height: 600px;
        }
        @media (max-width: $r_desk_hd) {
            border: 1px solid transparent;
            width: auto;
            height: auto;
        }
    }
    &__img {
        width: 92%;
        box-shadow: 20px 20px 33px 0px rgba($green, .5);
        border-radius: 100%;
        animation: shadow 3s infinite;
    }
    &__img-mobi {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
            max-width: 300px;
            margin: 0 auto;
            margin-top: 3rem;
            box-shadow: 20px 20px 33px 0px rgba($green, .5);
            border-radius: 100%;
            animation: shadow 3s infinite;
            @media (max-width: $r_mob_500) {
                max-width: 240px;
            }

        }
    }
    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;        
        color: $green;
        text-align: left;
        position: absolute;
        &:hover {
            &::before {
                background-color: $orange;
                box-shadow: 0 0 0 4px #fff, 0 0 0 5px $orange;
            }
        }
        &::before {
            content: '';            
            position: absolute;
            width: 11px;
            height: 11px;
            box-shadow: 0 0 0 4px #fff, 0 0 0 5px $green;
            background-color: $green;
            border-radius: 100%;
        }
        &_1 {
            top: 48px;
            left: 65px;
            @media (max-width: $r_desk_hd) {
                top: 39px;
                left: 24px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                bottom: 10px;
                left: 84px;
            }
        }
        &_2 {
            top: 196px;
            right: 5px;
            @media (max-width: $r_desk_1350) {
                top: 106px;
            }
            @media (max-width: $r_desk_hd) {
                top: 58px;
            }            
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                top: 17px;
                right: 88px;
            }
        }
        &_3 {
            bottom: -47px;
            right: 246px;
            @media (max-width: $r_desk_1350) {
                bottom: -59px;
            }
            @media (max-width: $r_desk_1120) {
                display: none;
            }
            &::before {
                bottom: 55px;
                right: 31px;
            }
        }
    }
    &__food {
        display: block;
        color: rgba($green, .8);
        margin-bottom: 6px;
    }
    &__tomato {
        width: 11rem;
        position: absolute;
        bottom: 128px;
        right: 104px;
        z-index: -1;
        @media (max-width: $r_desk_1350) {
            bottom: 80px;
        }
        @media (max-width: $r_desk) {
            width: 9rem;
        }
        @media (max-width: $r_tab) {
            left: -30px;
            top: 120px;
            transform: rotate(63deg);
        }
    }
    &__avocado {
        width: 14.5rem;
        position: absolute;
        top: 55px;
        right: 25px;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            width: 9.8rem;
            top: 120px;
            right: -50px;
        }
        @media (max-width: $r_mob_500) {
            right: -25px;
        }
    }
    &__cucumber {
        width: 9rem;
        position: absolute;
        top: -2px;
        left: 686px;
        z-index: -1;
        @media (max-width: $r_desk_1350) {
            left: 400px;
        }
        @media (max-width: $r_tab) {
            top: auto;
            left: auto;
            right: -24px;
            bottom: 280px;
            transform: rotate(90deg);
        }
        @media (max-width: $r_mob_500) {
            right: -18px;
            bottom: 230px;
        }
        @media (max-width: $r_mob_400) {
            right: -17px;
            bottom: 120px;
        }
    }
    &__pepper {
        width: 9rem;
        position: absolute;
        bottom: 621px;
        left: 28px;
        z-index: -1;
        @media (max-width: $r_desk_full_1750) {
            display: none;
        }
        @media (max-width: $r_tab) {
            display: block;
            width: 6rem;
            bottom: 573px;
            left: 0px;
            top: auto;
        }
        @media (max-width: $r_mob_500) {
            bottom: 450px;
            left: -5px;
        }
        @media (max-width: $r_mob_400) {
            bottom: 350px;
            left: -5px;
        }
    }
    &__beans {
        width: 11.8rem;
        position: absolute; 
        bottom: 170px;
        left: -6px;
        z-index: -1;
        @media (max-width: $r_desk_1120) {
            width: 10rem;
            bottom: 90px;
        }
        @media (max-width: $r_tab) {
            display: none;
        }
    }
}

.title {
    font-family: $font-cormorant;
    font-weight: 700;
    font-size: 8rem;
    margin: 0;
    line-height: 1;
    @media (max-width: $r_desk_1280) {
        font-size: 7rem;
    }
    @media (max-width: $r_desk_1120) {
        font-size: 6rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;
    }
    @media (max-width: $r_mob_400) {
        font-size: 3.75rem;
    }
    &__span {
        font-style: italic;
    }
    &_block {
        .title__span {
            display: block;
        }
    }
}

.description {
    margin: 0;
    line-height: 1.5;
    @media (max-width: $r_tab) {
        text-align: center;
    }
    &_size-s {
        font-size: 1.8rem;
        @media (max-width: $r_desk_1280) {
        font-size: 1.6rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &_size-m {
        font-size: 2.4rem;
        @media (max-width: $r_desk_1280) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_desk_1120) {
            font-size: 2rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
}

.link {
    color: #fff;
    text-transform: uppercase;
    padding: 2.4rem 4.3rem;
    letter-spacing: 0.13rem;
    background-color: $orange;
    box-shadow: 0px 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    text-decoration: none;
    border-radius: 3.8rem;
    display: inline-block;
    border: none;
    text-align: center;
    @media (max-width: $r_desk_1280) {
        font-size: 1.4rem;
    }
    &_min {
        font-size: 1.4rem;
        padding: 2.2rem 3.5rem;
        box-shadow: 0px 1rem 1.1rem .17rem rgba(207, 92, 13, .15); 
        flex-grow: 1;
        @media (max-width: $r_mob_500) {
            padding: 2.4rem 2.3rem;
        }
        @media (max-width: $r_mob_500) {
            padding: 2rem;
            font-size: 1.25rem;
        }
    }
    &_max {
        padding: 2.4rem 4.3rem;
        flex-grow: 1;
        @media (max-width: $r_desk_1350) {
            padding: 2.4rem 2.3rem;
        }
        @media (max-width: $r_mob_500) {
            padding: 2rem;
            font-size: 1.25rem;
        }
    }
}

.offer {
    padding-top: 2rem;
    padding-bottom: 20rem;
    @media (max-width: $r_desk_hd) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }
    &__text {
        margin-top: 6rem;
        max-width: 700px;
        @media (max-width: $r_desk_hd) {
            margin-top: 4rem;
        }
    }    
}
.slider {
    overflow: hidden;
    padding-top: 9.4rem;
    @media (max-width: $r_tab) {
        max-width: 100%;
        margin: 0 auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

.swiper {
    overflow: initial;
    &-slide {
        border: 1px solid rgba($green, .4);
        border-radius: 2rem;
        padding: 3rem 3.7rem 3.8rem;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #fff;
        position: relative; 
        z-index: 0;
        transition: .3s;
        @media (max-width: $r_desk_1280) {
            padding: 2rem 1.7rem 1.8rem;
        }        
        &_white {            
            height: 52rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 4rem 3.7rem;
            transition: .3s;
            background-size: contain;
            @media (max-width: $r_desk_hd) {
                height: 40rem;
            }
            @media (max-width: $r_tab) {
                overflow: hidden;
                background-position: center 15px;
                background-size: 26rem;
                align-items: center;
                padding: 2.5rem 2rem;
            }
            @media (max-width: $r_mob_500) {
                background-size: 16rem;
                height: 30rem;
            }
            @media (max-width: $r_mob_400) {
                background-size: 18rem;
            }
            &:hover {
                .swiper-slide__hover {
                    height: 23.3rem;
                    opacity: 1;
                    transition: .3s;
                    @media (max-width: $r_tab) {
                        height: auto;
                    }
                }
                &::after {
                    content: '';
                    background-color: rgba(#fff, .55);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2rem;
                    z-index: -1;
                }
            }
        }    
        &:hover {
            box-shadow: 0 0 0 2px rgba($green, .4) inset;
        }        
        &_milk {
            background-image: url(../img/Files/bottle-of-milk-isolated-on-white-background-P59345R.png);
            @media (max-width: $r_tab) {
                background-image: url(../img/catalog/milk.png);
            }
        }
        &_pasta {
            background-image: url(../img/Files/coils-of-dried-italian-pasta-or-noodles-on-white-QFT6G6P.png);
            background-repeat: no-repeat;
        }
        &_steaks {
            background-image: url(../img/Files/steaks-raw-P8WR9SE.png);
            background-repeat: no-repeat;
        }
        &__img {
            height: 100%;
            width: 100%;
            max-width: 35.1rem;
            object-fit: contain;
        }
        &__title {
            font-size: 3rem;
            font-family: $font-cormorant;
            font-weight: 700;
            margin: 0;
            @media (max-width: $r_desk_1120) {
                font-size: 2.5rem;
            }
            @media (max-width: $r_tab) {
                margin-bottom: 2rem;
                text-align: center;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }
        }
        &__hover {
            height: 0;
            opacity: 0;
            transition: .3s;
            @media (max-width: $r_tab) {
                height: auto;
                opacity: 1;
            }
        }
        &__text {
            margin: 0;
            margin-top: 2.5rem;
            margin-bottom: 3.4rem;
            max-width: 263px;
            line-height: 1.5;
            color: rgba($green, .7);
            @media (max-width: $r_tab) {
                display: none;
            }
        }
        &__description {
            font-size: 1.8rem;
            margin-top: 2rem;
            margin-bottom: 0;
            max-width: 300px;
            min-height: 5.5rem;
            color: rgba($green, .7);            
            line-height: 1.5;
            @media (max-width: $r_desk_1120) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_tab) {
                min-height: 5rem;
                max-width: 240px;
                text-align: center;
                margin: 2rem auto 0;
            }
            @media (max-width: $r_mob_400) {
                margin-top: 1rem;
                max-width: 200px;
            }
        }
        &__price {
            @media (max-width: $r_mob_400) {
                margin-top: 1rem;
            }
        }
        &__link {
            text-decoration: none;
            text-transform: uppercase;
            color: $green;
            opacity: .8;
            font-weight: 500;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            transition: .3s;
            @media (max-width: $r_mob_400) {
                font-size: 1.25rem;
            }
            &::before {
                content: "";
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/Icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
                @media (max-width: $r_mob_400) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }
            &:hover {
                opacity: 1;
            }            
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 322px;
            text-align: center;
            @media (max-width: $r_desk_1280) {
                height: 250px;
            }
            @media (max-width: $r_tab) {
                height: 34vw;
            }
        }        
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5%;
        }
    }
    &-pagination {
        display: none;
        @media (max-width: $r_tab) {
            display: block;
        }
    }
    &-horizontal>&-pagination-bullets {
        bottom: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $r_tab) {
            bottom: -31px;
        }
    }
    &-pagination-bullet-active {
        background-color: $orange;
        border: 1px solid $orange;
    }
    &-pagination-bullets {
        width: 8px;
        height: 8px;
    }
    &-button-next, &-button-prev {
        top: -6rem; 
        right: -8px;
        @media (max-width: $r_tab) {
            display: none;
        }
        &:hover {
            &::after {
                color: rgba($green, 1);
            }
        }
        &::after {
            transition: .3s;
            color: rgba($green, .4);
            font-size: 1.8rem;
        }
    }
    &-button-prev {
        left: initial;
        right: 73px;
    }    
}

.price {
    font-size: 2.4rem;
    @media (max-width: $r_desk_1120) {
        font-size: 2rem;
    }
    @media (max-width: $r_tab) {
        text-align: center;        
    }
}

.counter {
    display: flex;
    &__btn {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 1px solid $green;
        background-color: transparent;
        padding: 0%;
        background-position: center center;
        border-radius: 100%;
        @media (max-width: $r_desk_1120) {
            width: 40px;
            height: 40px;
        }
        &_min {
            width: 40px;
            height: 40px;
        }
    }
    &__minus {
        pointer-events: none;
        background-image: url(../img/Icons/minus.svg);
        background-size: 52px 52px;
        background-repeat: no-repeat;
        opacity: .4;
    }
    &__plus {
        background-image: url(../img/Icons/plus.svg);
        background-size: 52px 52px;
        background-repeat: no-repeat;
    }
    &__input {
        text-align: center;
        font-size: 2.4rem;
        width: 4.6rem;
        border: none;
        padding: 0;
        @media (max-width: $r_desk_1120) {
            width: 30px;
        }
        &_min {
            width: 33px;
        }
    }
    @media (max-width: $r_tab) {
        display: none;
    }
}

.about {
    padding-bottom: 20rem;
    @media (max-width: $r_desk_hd) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }
    &__text {
        flex-basis: 617px;
        margin-left: 12rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
            flex-basis: 490px;
        }
        @media (max-width: $r_desk_1120) {
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-basis: 100%;
            margin-left: 0;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        margin-top: 8.1rem;
        gap: 5rem;
        @media (max-width: $r_desk_1120) {
            margin-top: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
    }
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8.7rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @media (max-width: $r_desk_1280) {
            gap: 4rem;
        }
        @media (max-width: $r_desk) {
            gap: 2rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        font-size: 3rem;
        font-weight: 700;
        font-family: $font-cormorant;
        font-style: italic;
        animation: size-text 3s infinite;
        @media (max-width: $r_desk_1280) {
            font-size: 2.5rem;
        }
        @media (max-width: $r_desk) {
            font-size: 2.2rem;
        }
        &::before {
            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgba($green, .4);
            border-radius: 100%;
            width: 8.5rem;
            height: 8.5rem;            
            background-position: center center;            
            background-repeat: no-repeat;            
        }
        &:nth-child(1) {
            &::before {
                background-image: url(../img/Icons/fruits.svg);
                background-size: 43px 41px;
                animation: rotation 3s linear infinite;
            }
        }
        &:nth-child(2) {
            &::before {
                background-image: url(../img/Icons/traditional.svg);
                background-size: 39px 39px;
                animation: spin 3s linear infinite;
            }            
        }
        &:nth-child(3) {
            &::before {
                background-image: url(../img/Icons/good.svg);
                background-size: 45px 39px;                
                animation: rotation 3s linear infinite;
            }            
        }
    }
}

.trends {
    padding-bottom: 20rem;
    @media (max-width: $r_desk_hd) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
    }
    @media (max-width: $r_mob_400) {
        padding-bottom: 5rem;
    }
    &__text {
        margin-top: 6rem;
        @media (max-width: $r_desk_hd) {
            margin-top: 4rem;
        }
        @media (max-width: $r_tab) {
            max-width: 500px;
            margin: 4rem auto 0;
        }
    }
}

.catalog {
    padding-bottom: 15.4rem;        
    @media (max-width: $r_desk_1120) {
        padding-bottom: 12rem;
    }
    @media (max-width: $r_tab) {
        padding-bottom: 8rem;
        .container {
            max-width: 768px;
        }
    }    
    &__text {
        margin-top: 6rem;
        @media (max-width: $r_desk_hd) {
            margin-top: 4rem;
        }
        @media (max-width: $r_mob_400) {
            margin-top: 2rem;
        }
    }
    &__filters {
        display: flex;
        justify-content: flex-start;
        align-items: center;        
        padding: 0 15px;
        margin: 0;
        margin-top: 9.1rem;
        list-style-type: none;
        gap: 2rem;        
        @media (max-width: $r_desk_1350) {
            flex-wrap: wrap;
        }
        @media (max-width: $r_desk_hd) {
            margin-top: 6rem;
        }
        @media (max-width: $r_tab) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            margin-top: 4rem;
        }
        @media (max-width: $r_mob_400) {
            gap: 1.25rem;
            margin-top: 3rem;
        } 
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__list {
        @media (max-width: $r_mob_400) {
            font-size: 1.25rem;
        }        
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $green;
        border-radius: 3.5rem;
        width: 23rem;
        height: 7rem;
        text-decoration: none;
        color: $green;
        opacity: .5;
        transition: .3s;   
        @media(max-width: $r_desk_1280) {
            width: 20rem;
            height: 5rem;
        }
        @media (max-width: $r_mob_400) {
            width: 15rem;
        }
        &:hover {
            color: $orange;
            border: 1px solid $orange;
            opacity: 1;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 2rem;
        margin-top: 4.9rem;
        margin-bottom: 6rem;
        @media (max-width: $r_desk_1350) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $r_desk_1120) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $r_tab) {
            gap: 1rem;
            margin-top: 4rem;
            margin-bottom: 4rem;
        }
        @media (max-width: $r_mob_500) {
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border: 1px solid rgba($green, .4);
            border-radius: 2rem;
            padding: 3rem 2rem;
            box-sizing: border-box;
            height: 52rem;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative; 
            z-index: 0;
            transition: .3s;
            @media (max-width: $r_tab) {
                padding: 1.2rem 1rem 1.8rem;
                height: 36rem;
            }
            @media (max-width: $r_mob_500) {
                height: 33rem;
            }
            &:hover {
                box-shadow: 0 0 0 2px rgba($green, .4) inset;
            }      
            &:nth-child(5) {
                display: none;
            }
            &:nth-child(6) {
                display: none;
            }
            &:nth-child(7) {
                display: none;
            }  
            &:nth-child(8) {
                display: none;
            }
        }
        &__title {
            font-size: 3rem;
            font-family: $font-cormorant;
            font-weight: 700;
            margin: 0;
            @media (max-width: $r_tab) {
                font-size: 1.9rem;
                text-align: center;
            }
        }
        &__hover {
            height: 0;
            opacity: 0;
        }
        &__description {
            margin: 0;
            margin-top: 2rem;
            max-width: 25rem;
            line-height: 1.5;
            color: rgba($green, .8);
            @media (max-width: $r_tab) {
                font-size: 1.2rem;
                max-width: 20rem;
                text-align: center;
                margin: 2rem auto 0;
            }
            @media (max-width: $r_mob_500) {
                font-size: 1.2rem;
                max-width: 11.5rem;
                margin: 1rem auto 0;
            }
        }
        &__price {
            @media (max-width: $r_mob_500) {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
            }
        }
        &__link {
            text-decoration: none;
            text-transform: uppercase;
            color: rgba($green, .8);
            font-weight: 500;
            letter-spacing: 0.1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2.1rem;
            &:hover {
                opacity: 1;
            }
            &::before {
                content: "";
                display: block;
                width: 3rem;
                height: 3rem;
                background-image: url(../img/Icons/plus.svg);
                background-size: cover;
                background-repeat: no-repeat;
                opacity: .8;
            }
        }
        &__cover {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            text-align: center;
        }
        &__img {
            height: 23.9rem;
            width: 100%;
            max-width: 22.8rem;
            object-fit: contain;
            object-position: top;
            @media (max-width: $r_tab) {
                height: 14rem;
                max-width: 11.8rem;
            }
            @media (max-width: $r_mob_500) {
                height: 10rem;
                max-width: 9rem;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.8rem;
        }
        .counter {
            &__input {
                width: 3.3rem;
                background-color: transparent;
            }
            &__btn {
                width: 40px;
                height: 40px;
            }
            @media (max-width: $r_tab) {
                display: none;
            }
        } 
    }
    &__load {
        text-decoration: none;
        text-transform: uppercase;
        color: $green;
        opacity: .8;
        font-weight: 500;
        letter-spacing: 0.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.1rem;
        border: none;
        background-color: transparent;
        margin: 0 auto;
        padding: 0;
        cursor: pointer;
        transition: .3s;
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
            gap: 1.5rem;
        }
        &:hover {
            opacity: 1;
        }
        &::before {
            content: "";
            display: block;
            width: 3rem;
            height: 3rem;
            @media (max-width: $r_tab) {
                width: 2.6rem;
                height: 2.6rem;
            }
            background-image: url(../img/Icons/refresh.svg);
            background-size: cover;
            background-repeat: no-repeat;
            opacity: .8;
        }
    }
}

.delivery {
    &__box {
        display: flex;
        justify-content: space-between;
        margin: 0 12rem;
        margin-top: 7.5rem;
        gap: 4rem;
        @media (max-width: $r_desk_1280) {
            margin-left: 8rem;
            margin-right: 0;
        }
        @media (max-width: $r_desk_1120) {
            margin-top: 4rem;
            margin-left: 4rem;
        }
        @media (max-width: $r_tab) {
            flex-direction: column;
            margin: 4rem auto 0;
            text-align: center;
            max-width: 500px;
        }
        @media (max-width: $r_mob_400) {
            max-width: 280px;
        }

    }
    &__text {        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.7rem;
        flex-basis: 56.7rem;
        @media (max-width: $r_tab) {
            flex-basis: 8rem;
        }
    }
    &__description {
        line-height: 1.5;
        margin: 0;
    }
    &__link {
        color: $green;
        text-decoration: none;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            background-color: $green;
            width: 5.5rem;
            height: 1px;
            bottom: 3px;
            left: 0;
            @media (max-width: $r_desk_1280) {
                width: 5rem;
            }
            @media (max-width: $r_mob_400) {
                width: 4.6rem;
            }
        }
    }
    &__pay {
        flex-basis: 47.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        @media (max-width: $r_tab) {
            flex-basis: 4rem;
        }
    }
    &__color {
        color: $orange;
    }
    &__list {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 3rem;
        @media (max-width: $r_tab) {
            justify-content: center;
        }
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .4;
        cursor: pointer;
        transition: .3s;
        transform: scale(1);
        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }
    &__mastercard {
        background-image: url(../img/Icons/mastercard.svg);
        width: 5.3rem;
        height: 3.2rem;
    }
    &__visa {
        background-image: url(../img/Icons/visa.svg);
        width: 8.5rem;
        height: 2.55rem;
        background-size: contain;
    }
    &__paypal {
        background-image: url(../img/Icons/paypal.svg);
        width: 8.7rem;
        height: 2.4rem;
    }
    
}

.contact {
    padding-top: 20rem;
    padding-bottom: 10rem;
    @media (max-width: $r_desk_1120) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    @media (max-width: $r_mob_400) {
        padding-top: 8rem;
        padding-bottom: 4rem;
    }
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
        }
        @media (max-width: $r_mob_400) {
            gap: 2rem;
        }
        &__text {
            margin: 0;
            margin-top: 6rem;
            margin-left: 12rem;
            max-width: 400px;
            flex-grow: 1;
            @media (max-width: $r_desk_1280) {
                margin-left: 4rem;
            }
            @media (max-width: $r_desk_1120) {
                margin-top: 4rem;
            }            
            @media (max-width: $r_tab) {
                margin-left: 0;
            }
            @media (max-width: $r_mob_400) {
                max-width: 280px;
            }
        }
        &__form {
            flex-basis: 58.9rem;
            @media (max-width: $r_tab) {
                flex-basis: 100%;
                flex-grow: 1;
                width: 100%;
                max-width: 500px;
            }
        }
        &__contacts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-top: 6rem;            
            @media (max-width: $r_tab) {
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                gap: 1rem;
            }
            @media (max-width: $r_mob_400) {
                margin-top: 2rem;   
            }
        }
        &__list {
            font-weight: 700;
            font-size: 2.4rem;
            @media (max-width: $r_tab) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1.3rem;
            }
        }
        &__link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 3.1rem;
            text-decoration: none;            
            color: $green;   
            transition: .3s;            
            &:hover {
                color: $orange;
            }            
            @media (max-width: $r_tab) {
                gap: 1rem;
            }         
        }
        &__tel {            
            &::before {
                content: '';
                display: block;
                background-image: url(../img/Icons/phone.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 2.9rem;
                height: 2.7rem;
                fill: $orange;
                animation: rotation 3s infinite;
                @media (max-width: $r_mob_400) {
                    width: 2.5rem;
                    height: 2.3rem;
                }
            }
        }
        &__mail {
            &::before {
                content: '';
                display: block;
                background-image: url(../img/Icons/mail.svg);
                background-repeat: no-repeat;
                background-size: cover;
                width: 2.9rem;
                height: 2.4rem;
                fill: $orange;
                animation: shift 3s infinite;
                @media (max-width: $r_mob_400) {
                    width: 2.5rem;
                    height: 2.2rem;
                }
            }
        }
    }
}

.card {
    border: 2px solid rgba($green, .4);
    padding: 3.2rem 5.8rem 4rem;
    border-radius: 2rem;
    @media(max-width: $r_tab_900) {
        padding: 2.2rem 4.8rem 3rem;
    }
    @media (max-width: $r_tab) {
        padding: 2.2rem 2.2rem 3rem;
    }
    &__title {
        font-family: $font-cormorant;
        font-size: 3rem;
        font-weight: 700;
        margin-top: 0;
        @media (max-width: $r_tab) {
            text-align: center;
        }
    }
    &__label {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        display: block;
        margin-left: .6rem;
    }
    &__input {
        display: block;
        border: 1px solid rgba($green, .4);
        padding: 2.2rem 3rem;
        margin-bottom: 2.8rem;
        width: 100%;
        box-sizing: border-box;
        border-radius: 2rem;
        &:focus {
            border: 1px solid rgba($green, 1);
            outline: none;
        }
        &:invalid {
            border: red;
        }
    }
    &__link {
        margin-top: 1.2rem;
        cursor: pointer;
        @media (max-width: $r_tab) {
            width: 100%;
            margin: 0 auto;
        }
    }
    &__check {
        font-size: 1.2rem;
        color: rgba($green, .6);
        line-height: 1.5;
        max-width: 360px;
        margin-top: 1.6rem;
        margin-bottom: 0;
        @media (max-width: $r_tab) {
            text-align: center;
            max-width: 320px;
            margin: 1.6rem auto 0;
        }
    }    
    &__docs {
        text-decoration: none;
        color: rgba($green, .6);
        border-bottom: 1px solid #ecedec;
        transition: .3s;
        &:hover {
            color: rgba($green, 1);
        }
    }
}

.footer {
    border-top: 1px solid rgba($green, .2);
    padding-top: 8.2rem;
    padding-bottom: 8.4rem;
    @media (max-width: $r_mob_400) {
        padding: 5rem 0;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 6rem;
        gap: 2rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 4rem;
        }
        @media (max-width: $r_mob_500) {
            gap: 2rem;
            margin-bottom: 2.5rem;
        }
        .logo {
            width: 17.9rem;
            height: 4.8rem;
            flex-basis: 21.5%;
            @media (max-width: $r_tab_900) {
                display: none;
            }
            @media (max-width: $r_tab) {
                display: block;
                flex-basis: auto;
            }
            @media (max-width: $r_mob_500) {
                width: 15rem;
                height: 4rem;
            }
        }
    }
    &__list {        
        display: flex;
        flex-direction: column;
        gap: 3rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @media (max-width: $r_tab) {
            gap: 2rem;
        }
        @media (max-width: $r_mob_500) {
            gap: 1.5rem;
        }
        &:nth-child(2) {
            @media (max-width: $r_tab) {
                flex-direction: row;
                gap: 4rem;
            }
            @media (max-width: $r_mob_500) {
                gap: 2rem;
            }
        }
    }
    &__item {
        font-size: 1.8rem;
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
        }
    }
    &__link {
        text-decoration: none;
        color: $green;
        transition: .3s;
        &:hover {
            color: $orange;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3.5rem;
        @media (max-width: $r_mob_500) {
            gap: .5rem;
        }
    }
    &__tel {
        font-size: 2.7rem;
    }
    &__mail {
        font-size: 1.8rem;
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
            margin-bottom: 1.5rem;
        }
    }    
    &-social {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
        &__link {
            display: block;
            width: 5rem;
            height: 5rem; 
            border: 2px solid $green;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: .8;
            transition: .3s;
            &:hover {
                opacity: 1;
            }
        }
        &__vk {
            background-image: url(../img/Icons/vk.svg);
            background-size: 2.3rem;
        }
        &__inst {
            background-image: url(../img/Icons/instagram.svg);
            background-size: 1.8rem;
        }
        &__fb {
            background-image: url(../img/Icons/facebook.svg);
            background-size: 1.8rem;
        }
    }
    &__text {
        display: flex;
        justify-content: space-between;
        color: rgba($green, .6);
        @media (max-width: $r_tab) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
        @media (max-width: $r_mob_500) {
            font-size: 1.25rem;
            gap: 1rem;
        }
    }
    &__copy {
        margin: 0;
    }
    &__author {
        margin: 0;
    }
    &__blok {
        text-decoration: none;
        color: rgba($green, .6);
        transition: .3s;
        &:hover {
            color: rgba($green, 1);
        }
    }
}